body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
  max-width: 100%;
  width: 100%;
}

#videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
